@import url(../../css/style.css);

:root{
	
}

.form-control input[text]{
  padding-left: 20px;
}

.form_logo img{
    max-height: 70px;
    max-width: 60px;
    min-width: 30px;
    min-height: 30px;
}


.contenedor_login{
  max-width: 760px;
  min-width: 300px;
  box-shadow: 1px 1px 9px 1px rgb(153, 153, 153);
}

#form_login label{
  font-size: large;
  font-weight: 500;
  font-family: "Roboto";
  color: rgb(49, 49, 49);
}

.recuperar_contrasena{
}

.login-father-container{
  margin-top: 10vh;
}

/* animacion del titulo */
.typing-container {
  animation: caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}


@media (max-width:600px){
	#form_login label{
	  font-size: small;
	}
	.form-control{
		height: 5px;
		padding-top: 0;
		padding-bottom: 0;
		font-size: small;
	}
	#button_submit{
		font-size: small;
		text-wrap: nowrap;
		min-width: 120px;
	}
	#typing-text{
		font-size: medium;
	}
	.recuperar_password{
	  font-size: small;
	  text-align: center;
	}
	.gy-4 {
	  --bs-gutter-y: 0.5rem;
	}
}