@import url(../../css/style.css);

.form-control input[text]{
  padding-left: 20px;
  
}

.form_logo img{
    max-height: 70px;
    max-width: 60px;
    min-width: 30px;
    min-height: 30px;
}


.contenedor_login{
  max-width: 760px;
  min-width: 300px;
  box-shadow: 1px 1px 9px 1px rgb(153, 153, 153);
}

.recuperar_password{
  color: gray;
}

.login-father-container{
  margin-top: 150px;
}

/* animacion del titulo */
.typing-container {
  animation: caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}


@media (max-width:600px){
}