:root {
	--navbar-bg:#ffffff;
	--font-family-title:'Roboto,Arial, Helvetica, sans-serif';
	--font-size-aside: 14pt;
}

#navbar-body{
	background-color: var(--navbar-bg);
	min-width: 280px;
	max-width: 360px;
	height: 100% !important;
	padding: 20px;
	display:flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	box-shadow: 1px 1px 6px 1px gray;
}

/* CABECERA */
#navbar-body #nav-header{
	display: flex;
	align-items: center;
	align-content: center;
	font-family: var(--font-family-title);
	font-size: var(--font-size-aside);
	font-weight: bold;
}

/* CUERPO */
#navbar-body #nav-body .nav-button{
	margin: 15px 0px 15px 0;
}
#navbar-body #nav-body .nav-button a{
	text-decoration: none;
	color: rgb(55, 55, 55);
	font-family: var(--font-family-title);
	display: flex;
	align-items: center;
	gap: 10px;
}
#navbar-body #nav-body .nav-button a span{
	font-size: 13pt;
	margin: 10px 0px 10px 0;
	font-weight: 400;
}
#navbar-body #nav-body .nav-button svg{
	width: 20px;
	height: 20px;
}
#navbar-body #navbar-footer{
	
}

@media (max-width: 700px){
	#navbar-body{
		margin-top: 70px;
		position: fixed;
		min-width: 90%;
	}
}

/* #navbar-body {
  width: 250px;
  transition: width 0.3s ease;
}

#navbar-body .nav-button {
  display: flex;
  align-items: center;
}

#navbar-body .nav-button a {
  text-decoration: none;
  color: rgb(55, 55, 55);
  display: flex;
  align-items: center;
  gap: 10px;
}

#navbar-body.collapsed .nav-button span {
  display: none;
}

#navbar-body .nav-button svg {
  width: 20px;
  height: 20px;
  transition: margin-left 0.3s ease;
}

#navbar-body.collapsed .nav-button svg {
  margin-left: 10px; // Da espacio extra para que los íconos se vean alineados
}
 */